<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Tags prediction for Stack OverFlow Questions</title>
</head>
<form action="{{ url_for('main') }}" method="POST" align="left">
        Question:
        <br>
        <textarea name="question" rows="20" cols="100" required>
        </textarea>
        <br>
        <input type="submit">
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted tags for the question:
   		<p style="font-size:10px">{{ result }}</p>
    {% endif %}
</div>

</html>
