<!doctype html>
<html>
<style>
form {
    margin: 50px;
    width: 35%;
}

.result {
    margin: 50px;
    width: 80%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Tags prediction for Stack OverFlow Questions</title>
</head>
<form action="{{ url_for('main') }}" method="POST" align="left" >
        Question:
        <br>
        <br>
        <textarea name="question" rows="20" cols="100" required></textarea>
        <br>
        <input type="submit">
</form>
<div class="result" align="center">
    {% if result %}
    <p align="left" style="font-size:20px"> Tags suggérées pour la question : </p>
 		<p align="left" style="font-size:17px">{{ result }}</p>
    {% endif %}
</div>

</html>
